.ul {
    display: flex;
    justify-content: center;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:large;
  }
  .li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 40px;
    text-decoration: none;
  }
  .a:hover{
    color:var(--color-2);
  }
  @media (max-width: 600px) {
    .ul{
      display: inline-flex;
      max-width: 100%;
    }
    .nav{
      display: flex;
      justify-content: center;
    }
    .li{
      margin: 0;
    }
  }