.pos{
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.bg{
    border-radius: 5px;
    color:white;
    width: 30%;
    height: 30rem;
    margin-left: 4rem;
}
.cat{
    height: 100%;
    margin-top: auto;
    margin-right: 3rem;
}
.h1{
    color:var(--color-2);
}
.h1Size{
    font-size: 2.3em;
}
.h2{
    color:#5ad67b
}
.h3{
    color:#70d3fa
}
@media (max-width: 600px) {
    .pos{
        flex-direction: column;
    }
    .bg{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .cat{
        margin:0 auto;
    }
  }