.body{
    overflow: hidden;
}
.bg{
    background-color: var(--color-4);
    height: 100vh;
}
.pos{
    display: flex;
    justify-content: center;
}
.link{
    color: white;
    background-color: var(--color-1);
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    margin: auto;
}
.link:hover{
    opacity: .8;
}