@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto,-apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    background-image: url("https://cdn.discordapp.com/attachments/769061823596068874/968047287290978315/background.jpg");
    background-size: cover;
    height: 4496px; 
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(116, 123, 202, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  --color-1: #2954A3;
  --color-2: #e771ff;
  --color-3: #2F2F8A;
  --color-4: #1C1C65;
  --color-5: #0F103F;
}
