.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.container{
    margin-top: 10rem;
}
.title{
    text-align: center;
    color: white;
    margin: 7rem 0;
    font-size: 2.5em;
}
@media (max-width: 600px) {
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
  }