.bg{
    background-image: linear-gradient(150deg, var(--color-2), var(--color-1));
    height: 30rem;
    width: 40%;
    border-radius: 100vw;
    margin: auto;
    opacity: .9;
    display: flex;
    color: white;
}
.pos{
    margin-top: 10rem;
}
.text{
    padding-top: 2rem;
    padding-right: 3rem;
}